<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Layout 1</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>HOME</li>
                <li>ABOUT US</li>
                <li>CONTACT</li>
            </ul>
        </nav>
    </header>

    <div id="container">
        
        <aside>
            <h4>Categorias legais</h4>
            <ol>
                <li>categoria</li>
                <li>categoria</li>
                <li>categoria</li>
            </ol>
        </aside>

        <main>
            <h1>MAIN</h1>
        </main>
    </div>
    <footer>
        <h1>FOOTER</h1>
    </footer>
</body>
</html>