<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Layout 2</title>
</head>
<body>
    <header>
        <h1>Header Legal</h1>
    </header>

    <div id="flex-row">
        <aside>
            <h1>Categorias</h1>
        </aside>
        <main>
            <p>Conteúdo principal</p>
        </main>

        <aside>
            <h1>Filtros</h1>
        </aside>
    </div>

    <footer>
        <h1>FOOTER</h1>
    </footer>
</body>
</html>