header {
    display: flex;
    justify-content: center;
}

#flex-row {
    display: flex;
    justify-content: space-between;
}

main {
    height: 800px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    background-color: black;
    color: white;
}

header {
    background-color: grey;
    height: 90px
}

footer {
    display: flex;
    justify-content: center;
    background-color: #bda4a4;
}
